*.auto.tfvars
*.pem
#!terraform/dictionaries.auto.tfvars
*/.terraform*
*.tfstate
*.tfstate*
plan/
plan/*
site-content/angular/npk_config.js
site-content/assets/js/cognito_config.js
**/node_modules
terraform/npk-settings.json
terraform/generated-settings.jsonnet
terraform/regions.json
terraform/*.tf.json
terraform/lambda_functions/zip_files/*
terraform/lambda_functions/proxy_api_handler/api_handler_variables.js
terraform/lambda_functions/status_reporter/npk_settings.js
terraform/lambda_functions/spot_monitor/npk_settings.js
terraform/lambda_functions/proxy_api_handler/userdata.sh
terraform/templates/api-handler-variables.tpl
terraform/templates/npk_settings.tpl
terraform-selfhost/components/
tools/rules/*
tools/wordlists/*
terraform/dictionaries.auto.tfvars
site-content/assets/js/dictionary-buckets.js
terraform-selfhost/upload_npkfile.sh
terraform-selfhost/upload_npkcomponents.sh
terraform-selfhost/sync_npkcomponents.sh