*.pem
*/.terraform*
*.tfstate
*.tfstate*
plan/
plan/*
site-content/angular/npk_config.js
site-content/assets/js/cognito_config.js
/site-content/assets/js/dictionary-buckets.js
**/node_modules
npk-settings.json
render-npk*
lambda_functions/zip_files/*
lambda_functions/*/accountDetails.json
lambda_functions/*/ENVVARS
lambda_functions/proxy_api_handler/api_handler_variables.js
lambda_functions/status_reporter/npk_settings.js
lambda_functions/spot_monitor/npk_settings.js
lambda_functions/proxy_api_handler/userdata.sh
lambda_functions/execute_campaign/userdata.sh
templates/api-handler-variables.tpl
templates/npk_settings.tpl
tools/components/*
tools/rules/*
tools/wordlists/*
tools/upload_npkfile.sh
tools/upload_npkcomponents.sh
tools/sync_npkcomponents.sh
**.bak