{
  "backend_bucket": "terraform-backend-<somerandomcharacters>"
  "campaign_data_ttl": 604800,
  "campaign_max_price": 50,
  "georestrictions": ["US", "CA", "GB", "DE"],

  "useCustomDNS": false,
  "route53Zone": "E10SDSEFH1102DF",
  "dnsNames": {
    "www": [
      "dev.npkproject.io"
    ],
    "api": [
      "api.dev.npkproject.io"
    ]
  },

  "awsProfile": "npk",
  "criticalEventsSMS": "+13035551234",
  "adminEmail": "demo@npkproject.io",
  "debug_lambda": false

  "useSAML": false,
  "sAMLMetadataDocument": "/home/self/Documents/CorpSAMLMetadata.xml"
}
