<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
	  
      <div class="card bg-transparent shadow-none mt-3 border border-secondary-light">
        <div ng-if="selected_campaign" class="card-header bg-transparent text-white border-secondary-light">
          [ {{ selected_campaign || "Campaign" }} ] ordered by [ {{ data.base.cognitoUserEmail }} ]; Statistics
          <div class="card-action">
          </div>
        </div>
        <div ng-if="selected_campaign" class="card-body text-center">
          <td colspan="8" class="card-body">
            <h6 class="card-text text-white" ng-if="objLength(data.nodes) < 1">
              No status reports received. Nodes may have errored out.
            </h6>
            <h6 class="text-white" ng-if="objLength(data.nodes) > 0">Nodes</h6>
            <div class="row" style="margin: 0px;">
               <div class="col-lg-12">
                <div ng-repeat="(nid, node) in data.nodes" ng-if="objLength(data.nodes) > 0" class="text-left">
                  <div class="row">
                    <div class="col-lg-2" style="margin-top: 1px;">
                      <p class="text-center text-white" style="line-height: 1">
                        <small>{{ nid }}</small><br />
                        <small>{{ node['latest'].status }}</small>
                        <small>[ {{ node['latest'].hasOwnProperty('recoveredHashes') ? node['latest'].recoveredHashes : 0 }} / {{ data.base.hashes }} ]</small>
                      </p>
                    </div>
                    <div class="col-lg-10 text-center" style="padding-top: 8px;">
                     <div class="progress" style="height: 6px;">
                        <div class="progress-bar bg-warning progress-bar-striped" ng-class="{'progress-bar-animated': data.active}" role="progressbar" style="width: {{ ((node.first - data.base.startTime) / data.base.durationSeconds) * 100 }}%"></div>
                        <div class="progress-bar bg-primary progress-bar-striped" ng-class="{'progress-bar-animated': data.active}" role="progressbar" style="width: {{ ((node.firstRecovery - node.first) / data.base.durationSeconds) * 100 }}%"></div>
                        <div class="progress-bar bg-success progress-bar-striped" ng-class="{'progress-bar-animated': data.active}" role="progressbar" style="width: {{ ((node.last - node.firstRecovery) / data.base.durationSeconds) * 100 }}%"></div>
                        <div class="progress-bar bg-dark progress-bar-striped" ng-class="{'progress-bar-animated': data.active}" role="progressbar" style="width: {{ (((data.base.startTime + data.base.durationSeconds) - node.last) / data.base.durationSeconds) * 100 }}%"></div>
                     </div>
                     <small class="text-white">
                      Spot Status: [ {{ data.base.spotRequestStatus[nid].State }}; {{ data.base.spotRequestStatus[nid].Status.Code }} ]
                      &nbsp;&nbsp;&nbsp;
                      Spot Fulfillment Message: [ {{ data.base.spotRequestStatus[nid].Status.Message }} ]
                      <br>
                      Hashcat: {{ node['latest'].progress | number:2 }}% | 
                      Time: {{ ((node.last - data.base.startTime) / data.base.durationSeconds) * 100 | number:2 }}% | 
                      Price: {{ (data.base.price / data.base.targetPrice) * 100 | number:2 }}%
                    </small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2 card-body card text-warning text-center border border-dark bg-dark" style="margin-right: 10px; height: 60px; padding-top: 5px;" ng-repeat="(gpu, hashrate) in node['latest'].performance track by $index">
                      <big>GPU {{ gpu }}</big>
                      <small>{{ hashrate | toHs }}</small>
                    </div>
                  </div>
               </div>
               <div ng-repeat="(nid, node) in data.base.spotRequestStatus" ng-hide="data.nodes.hasOwnProperty(nid)">
                <div class="row">
                  <div class="col-lg-2" style="margin-top: 1px;">
                    {{ nid }}
                  </div>
                  <div class="col-lg-10 text-center" style="padding-top: 8px;">
                    <small class="ml-3 text-white">
                      {{ data.base.spotRequestStatus[nid].State }} / {{ data.base.spotRequestStatus[nid].Status.Code }};&nbsp;&nbsp;&nbsp;[ {{ data.base.spotRequestStatus[nid].Status.Message }} ]
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </div>
  	  </div><!--End Card-->

      <div class="card bg-transparent shadow-none mt-3 border border-secondary-light">
        <div ng-if="selected_campaign" class="card-header bg-transparent text-white border-secondary-light">
          Order Details:
          <div class="card-action">
          </div>
        </div>
        <div ng-if="selected_campaign" class="card-body text-center">
          <div class="row" ng-show="manifest.instanceCount">
            <div class="col-lg-2 col-md-6 col-sm-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-center">
                  Instance (x{{ manifest.instanceCount }})
                </div>
                <div class="card-body bg-dark text-white text-left">
                  <h4 class="text-white"><small>Generation:</small> {{ manifest.instanceGeneration }}</h4>
                  <div class="text-right" style="border-right: 1px solid white; border-bottom: 1px solid white; padding-right: 8px;">
                    <small>
                      [ {{ gpus[manifest.instanceType].family }} x{{ gpus[manifest.instanceType].gpu }}  ]
                    </small>
                  </div>
                  <h5 class="text-white"><small>Size:</small> {{ manifest.instanceSize }}</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-center">
                  Price
                </div>
                <div class="card-body bg-dark text-white text-left">
                  <h5 class="text-white"><small>Max Price:</small> ${{ manifest.priceTarget | number:2 }}</h5>
                  <div class="text-right" style="border-right: 1px solid white; border-bottom: 1px solid white; padding-right: 8px;">
                    <small>
                      <ng-pluralize count="manifest.instanceCount" when="{'1': '{{ manifest.instanceCount }} Node', 'other': '{{ manifest.instanceCount }} Nodes'}"></ng-pluralize>
                      x 
                      <ng-pluralize count="manifest.instanceDuration" when="{'1': '{{ manifest.instanceDuration }} Hour', 'other': '{{ manifest.instanceDuration }} Hours'}"></ng-pluralize>
                      @ ${{ manifest.priceTarget / manifest.instanceCount / manifest.instanceDuration | number}}/hr
                    </small>
                  </div>
                  <h5 class="text-white"><small>Region:</small> {{ manifest.region }}</h5><br/><br/>
                  <h4 class="text-white"><small>Actual Price:</small> ${{ data.base.price | number:2 }}</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-center">
                  Attack Details
                </div>
                <div class="card-body bg-dark text-white text-left">
                  <h4 class="text-white mb-0"><small>Hash type:</small> {{ manifest.hashType }}</h4> 
                  <div class="mb-3" ng-show="manifest.rulesFiles.length > 0">
                    <small style="padding-left: 28px;" ng-repeat="file in manifest.rulesFiles">
                      {{ getTypeFromHash(manifest.hashType) }}<br>
                    </small>
                  </div>
                  <div>
                    Hashfile:
                     <small>
                      {{ manifest.hashFile }}
                    </small>
                  </div>
                  <div>
                    Wordlist:
                     <small>
                      {{ manifest.dictionaryFile }}
                    </small>
                  </div>
                  <div ng-show="manifest.mask">
                    Append Mask:
                    <small>
                      {{ manifest.mask }}
                    </small>
                  </div>
                  <div ng-show="manifest.rulesFiles.length > 0">
                    Rules Files<br/>
                    <small style="padding-left: 28px;" ng-repeat="file in manifest.rulesFiles">
                      {{ file }}<br>
                    </small>
                  </div>
                  <div style="border-bottom: 1px solid white;">&nbsp;</div>
                  <h5 class="text-white"><small>Region:</small> {{ manifest.region }}</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-center">
                  Results
                </div>
                <div class="card-body bg-dark text-white text-left">
                  <h4 class="text-white"><small>Cracked Hashes:</small> {{ data.recovered_hashes }}</h4> 
                  <div>
                    <div class="badge badge-dark" data-toggle="tooltip" data-placement="left" title="" data-original-title="The amount of time between when the campaign was started and when any instance sent its first status report.">
                      <i class="fa fa-question-circle"></i>
                    </div>
                    Provisioning:
                     <small>
                      {{ first | momentfn:'from':(data.base.startTime * 1000):true }}
                    </small>
                  </div>

                  <div ng-hide="firstRecovery < 1">
                    <div class="badge badge-dark" data-toggle="tooltip" data-placement="left" title="" data-original-title="The time between the first status report being received, and the first password match being reported.">
                      <i class="fa fa-question-circle"></i>
                    </div>
                    First Crack:
                     <small>
                      {{ firstRecovery | momentfn:'from':(data.base.startTime * 1000):true }}
                    </small>
                  </div>

                  <div ng-hide="firstRecovery < 1">
                    <div class="badge badge-dark" data-toggle="tooltip" data-placement="left" title="" data-original-title="The amount of time between the first and last status report.">
                      <i class="fa fa-question-circle"></i>
                    </div>
                    Finished
                     <small>
                      {{ last | momentfn:'from':(data.base.startTime * 1000) }}
                    </small>
                  </div>
                  <div style="border-bottom: 1px solid white;">&nbsp;</div>
                  <h5 class="text-white"><small>Success Rate:</small> {{ data.recovered_hashes / data.base.hashes * 100 | number:2 }}%</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-left">
                  Campaign Manifest and Outputs
                </div>
                <div class="card-body bg-dark text-white text-left">
                  Campaign Prefix: <a ng-href="#/file-management/campaigns/{{ selected_campaign }}">{{ manifest.cognitoIdentityId }}/campaigns/{{ selected_campaign }}</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card bg-white shadow-none mt-3 border border-secondary-dark">
                <div class="card-header bg-white text-dark text-left">
                  Spot Fleet Request History
                </div>
                <div class="card-body bg-dark text-white text-left">
                  <table class="table table-dark table-condensed">
                    <thead>
                      <tr>
                        <th style="width: 120px;">Start Offset</th>
                        <th style="width: 350px;">Event Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="event in data.base.spotRequestHistory" on-finish-render>
                        <td>
                          <small>{{ event.Timestamp | momentfn:'from':(data.base.startTime * 1000):true }}</small>
                        </td>
                        <td>
                          <small>{{ event.EventType }}&nbsp;->{{ (event.EventInformation.InstanceId) ? " " + event.EventInformation.InstanceId : "" }} {{ event.EventInformation.EventSubType }}</small>
                        </td>
                        <td>
                          <small ng-if="!event.EventInformation.EventDescription.instanceType">{{ (event.EventInformation.EventDescription) ? event.EventInformation.EventDescription : "&lt; None &gt;" }}</small>
                          <small ng-if="event.EventInformation.EventDescription.instanceType">
                            {{ event.EventInformation.EventDescription.instanceType }} running {{ event.EventInformation.EventDescription.image }} in {{ event.EventInformation.EventDescription.availabilityZone }}
                          </small>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="manifest == false">
            <div class="col-lg-12">
              <h5 class="text-white"><small>Campaign manifest could not be loaded. It was either deleted manually or the campaign is more than 7 days old.</small></h6>
            </div>
          </div>
        </div>
      </div><!--End Card-->

      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-transparent shadow-none border border-secondary-light container">
            <div class="card-header bg-transparent text-white border-secondary-light">
              All Campaigns
              <div class="card-action">
              </div>
            </div>
            <div class="card-body text-center">
              <img height="50px" width="50px" src="assets/images/loading.gif" ng-show="(!campaigns_loaded)">
              <h5 class="card-text text-danger" ng-show="campaigns_loaded && objLength(campaigns) == 0">
                You have no campaigns. Maybe <a href="#/new-campaign">start one</a>?
              </h5>
              <div class="table-responsive" ng-show="campaigns_loaded && objLength(campaigns) > 0">
                <table class="table table-dark table-condensed">
                  <thead>
                   <tr>
                     <th>Campaign ID</th>
                     <th>Date</th>
                     <th>Compute</th>
                     <th>Duration</th>
                     <th>Cost</th>
                     <th>Status</th>
                     <th>Actions</th>
                   </tr>
                   </thead>
                   <tbody>
                     <tr ng-repeat="campaign in campaigns | toArray | filter:{deleted: false} | orderBy:'startTime':true" on-finish-render>
                      <td><small><a href="#/campaign-management/{{ campaign._id }}">{{ campaign._id }}</a></small></td>
                      <td><small>{{ campaign.startTime * 1000 | date:"MMM d @ H:mm" }}</small></td>
                      <td>
                        {{ campaign.instanceType }}
                        <small>x{{ campaign.instanceCount }}</small>
                      </td>
                      <td><small>{{ campaign.durationSeconds / 3600 }} Hours</small></td>
                      <td><small>${{ campaign.price | number:2 }}</small></td>
                      <td>
                          <small ng-if="!!!campaign.interrupted">
                            {{ campaign.status }}
                          </small>
                          <div ng-if="!!campaign.interrupted" class="badge bg-warning">
                            {{ campaign.interrupted == 'Spot Interruption' ? 'Interrupted: Outbid' : 'Interrupted' }}
                          </div>
                        </td>
                      <td>
                        <img id="action-{{ campaign._id }}" src="assets/images/loading.gif" style="height: 10px; width: 25px; display: none;">
                        <a id="cancel-{{ campaign._id }}" class="badge waves-effect waves-light" ng-class="[{'badge-danger': campaign.status == 'COMPLETED'}, {'badge-warning': campaign.status != 'COMPLETED'}]" ng-click="$parent.npkDB.cancelCampaign(campaign._id)">
                          <i class="fa fa-trash-o"></i>
                          <span>
                            {{ (campaign.status == "COMPLETED") ? "Delete" : "Cancel" }}
                          </span>
                        </a>
                      </td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
          </div>
        </div>
      </div><!--End Row-->
	  
       <!--End Dashboard Content-->

    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer bg-transparent border-secondary-light">
      <div class="container">
        <div class="text-center text-white">
        </div>
      </div>
    </footer>
	<!--End footer-->
   
  </div><!--End wrapper-->

  <!-- Index js -->
  <!-- script src="assets/js/index2.js"></script -->
  
</body>
</html>
